* {
    margin: 0;
    padding: 0;
}
header{
    height: 60px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.pokemon-container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}
.pokemon-block {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100,100 ,100 ,0.5 );
    flex: 1;
}

.img-container {
    background-color: url('./blob.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.pokemon-block p {
    margin: 5px;
}
